.perfil_profesor{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.perfil_appbar{
    display: flex;
    justify-content: space-between;
    flex-grow: 20;
    align-items: center;

}

.perfil_logo{
    margin-left: 3rem;
    width: 170px;
    height: 130px;
}

.perfil_perfil{
    margin-right: 3rem;
    width: 55px;
    height: 45px;
}

.perfil_body{
    display: flex;
    flex-direction: column;
    flex-grow: 20;
}

.perfil_nombre{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 60px;
    margin-left: 4rem;
}

.perfil_separador_na{
    background-color: black;
    height: 0.7rem;
    width: 38rem;
    border-radius: 50px;
    margin-left: 3rem;

}

.perfil_area{
    font-size: 30px;
    margin-left: 4rem;
    margin-top: 1rem;
}

.perfil_filtro{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

button{
    background: white;
    width: 20rem;
    height: 3rem;
    margin-left: 3rem;
    border: solid 2px;
    outline: none;
}

.perfil_rate_comm{
    display: flex;
    flex-direction: row;
    flex-grow: 15;
    padding: 1rem;
}

.perfil_rate_dif{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 15rem;
    margin-right: 5rem;
}

.perfil_rate{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 1rem;
}

.perfil_rate_letter{
    margin-top: 0;
    font-size: 25px;
}

.perfil_rate_number{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    flex-grow: 10;
    width: 100%;
    border: solid 2px black;
}

.rate{
    font-size: 65px;
}

.perfil_dif{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.perfil_dif_letter{
    margin-top: 0;
    font-size: 25px;
}

.perfil_dif_number{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    flex-grow: 10;
    width: 100%;
    border: solid 2px black;
}

.dif{
    font-size: 65px;
}

.perfil_comm{
    position: absolute;
    word-wrap: break-word;
    right: 1rem;
    width: 80%;
    height: 50%;
    padding: 1rem;
    background-color: bisque;
    overflow: auto;
    margin: 1rem;
}


